<link rel="import" href="../../package/polymer/polymer.html"/>
<polymer-element name="page-cover" attributes="title">
    <template>

        <!--<link rel="stylesheet" href="../../assets/css/bootui.css"/>-->
        <div id="uid">
            <h1 class="large">{{title}}</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur esse est eveniet facilis fuga
                incidunt
                quasi quisquam quod saepe vel! Accusamus laboriosam laudantium neque optio sed sequi tenetur velit,
                veritatis.
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos non quaerat quasi.</blockquote>
            </p>
        </div>
    </template>
    <script>
        Polymer({
            title: 'Daniel'
        });
    </script>

</polymer-element>

