<link rel="import" href="package/polymer/polymer.html"/>
<polymer-element name="page-cover" noscript>
  <template>
    <style>
      @import "../../assets/css/bootui.css";
    </style>
    <link rel="stylesheet" href="assets/css/default.css"/>
    <div id="ui">
      <h1 class="large">Hello World</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur esse est eveniet facilis fuga incidunt
        quasi quisquam quod saepe vel! Accusamus laboriosam laudantium neque optio sed sequi tenetur velit, veritatis.
      </p>
    </div>
  </template>
</polymer-element>
