<!DOCTYPE html>
<html class="no-js">
<head>
  <!--inc header.html -->
  @@include('inc/header-polymer.html')
  @@include('inc/header.html', {"body-class" : "home"})
  <!--end -->

</head>
<body class="@@body-class" unresolved="">
<div id="ui">
  <header class="items center">
    <div>
      <h1>Foluke</h1>
      <p>A Frontend Dev Toolkit</p>
    </div>
  </header>
  <section class="bootui">
    <div class="contain">
      <h1>Welcome</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ut nam quaerat assumenda id temporibus,
        reiciendis cupiditate laborum qui fugit soluta animi ratione ducimus, modi vel repellat fugiat fuga magni
        nostrum? Quibusdam est quisquam distinctio optio, eum recusandae quidem quas natus nobis quam consectetur a
        nihil possimus, ipsum odio molestias ad earum rerum odit, velit consequuntur. Repellat, nostrum ex eius.
      </p>
      <page-cover title="Hello World"></page-cover>
    </div>
  </section>
</div>
<!-- Include footer -->
@@include('inc/footer.html')
</body>
</html>
