<!DOCTYPE html>
<html class="no-js">
<head>
  <!--inc header.html -->
  @@include('inc/header-polymer.html')
  @@include('inc/header.html')
  <!--end -->
</head>
<body class="home" unresolved="">

<div id="ui" class="">
  <header class="bootui items center">
    <div>
      <h1>Foluke</h1>
      <p>A Frontend Dev Toolkit</p>
    </div>
  </header>
  <section class="bootui">
    <div class="contain">
      <h1>Welcome</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ut nam quaerat assumenda id temporibus,
        reiciendis cupiditate laborum qui fugit soluta animi ratione ducimus, modi vel repellat fugiat fuga magni
        nostrum? Quibusdam est quisquam distinctio optio, eum recusandae quidem quas natus nobis quam consectetur a
        nihil possimus, ipsum odio molestias ad earum rerum odit, velit consequuntur. Repellat, nostrum ex eius.
      </p>
      <page-cover covertitle="Hello World"></page-cover>
    </div>
  </section>
  <footer class="bootui footer text-center">
    <div class="social-icons contain">
      <core-icon icon="social:post-twitter"></core-icon>
    </div>
    <div class="copyinfo contain text-center">
      <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci commodi dignissimos et exercitationem
        fugit nemo sint. Consequatur eos laboriosam maxime minus, quo vitae. Consequatur culpa eos nobis ratione
        suscipit voluptate!</p>
    </div>
  </footer>
</div>

<!-- Include footer -->
@@include('inc/footer.html')
</body>
</html>
