<!DOCTYPE html>
<html class="no-js">

<head>
    <!--inc header.html-->
    @@include('inc/header.html', {"body-class" : "home"})
</head>

<body>
<div class="ui">
    <div class="contain">
        <!-- Add your site or application content here -->
        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ut nam quaerat assumenda id temporibus, reiciendis cupiditate laborum qui fugit soluta animi ratione ducimus, modi vel repellat fugiat fuga magni nostrum? Quibusdam est quisquam distinctio optio, eum recusandae quidem quas natus nobis quam consectetur a nihil possimus, ipsum odio molestias ad earum rerum odit, velit consequuntur. Repellat, nostrum ex eius.</p>

        <!--    inc footer.html -->
    </div>
</div>

@@include('inc/footer.html');
</body>


</html>